body {
    max-width: fit-content;
    margin: 0px auto;
}
#header-div {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: lightgray;
    color: white;
    border-top: 2px solid rgb(238, 236, 236);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    display: flex;
    border-bottom: 2px solid darkcyan;

}

#bpm-div {
    flex:1 1 0;
    margin: 0px auto;
    justify-content: center;
}
.title-div {
    flex: 1 1 0;
    align-content: flex-end;
    text-align:center;

}
/* playbutton stop button */
.control-div{  
    flex: 1 1 0; 
    
}

button {
display:inline-block;
padding:0.5em 3em;
border:0.16em solid #008b8b;
margin:0 0.3em 0.3em 0;
box-sizing: border-box;
text-decoration:none;
text-transform:uppercase;
font-weight:400;
color: darkcyan;
text-align:center;
transition: all 0.5s;
border-radius: 4px;
}
button:hover{
    /* color:lightskyblue; */
    border-color:#00BEBE;
}
/* bpm volume etc */
.main-div {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    background-color: lightgray;
    padding-bottom: 10px;
    border-top: darkgray solid 5px;
    
    border-bottom: darkgray solid 10px;

}

#sample-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 8px;
    color:white;
    text-align: center;
    border: 4px solid #008b8b;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: rgb(94, 94, 94) 7px 10px 5px;

}

#sample-div > * {
    color: white;
    accent-color: darkcyan;
    margin-bottom: 10px;
}

.sample-desc {
    width: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #00BEBE;
}
.sequencer-div {
    display:flex;
    flex-direction: column;
    padding: 5px;

}
.drum-div-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 2px solid white;
    padding: 4px;
    border-radius: 10px;
    gap: 4px;
    font-size:small;
    flex-wrap: wrap;
    height: auto;
}

#kick-div {
   display: flex;
   flex: 1;
   gap: 4px;
   align-items: center;
    /* flex-wrap: wrap; */
}

#snare-div {
    display: flex;
    flex: 1;
    gap: 4px;
    align-items: center;
    /* flex-wrap: wrap; */

 }

 #chihat-div {
    display: flex;
    flex: 1;
    gap: 4px;
    align-items: center;
    /* flex-wrap: wrap; */

 }
 #ohihat-div {
    display: flex;
    flex: 1;
    gap: 4px;
    align-items: center;
    /* flex-wrap: wrap; */

 }

 .sample-controls {
    display:flex;
    flex-direction: row;
    max-width: fit-content;
    margin: 10px;
    gap: 20px;
    padding: 6px;
    color:darkcyan;
    border: 2px solid white;
    border-radius: 10px;
    
 }
 #velocity-div{
     display:flex;
     flex-direction: column;
     margin-top: 10px;
 }
 #medium {
     background-color:lightskyblue;
 }
 #strong {
    background-color:deepskyblue;
}
.project-div{
    display:flex;
    justify-content: center;
    margin: 0px auto;
    padding: 10px;
    border-bottom: 2px solid darkgray;
    background-color: floralwhite;
    border-radius: 10px;

}

.footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color :  white;
    margin-top: 50px;
    background-color:darkcyan;
    display: flex;
    justify-content: center;
    font-size: small;
}
#resolution {
    color: white;
    background-color: darkcyan;
    text-align: center;
}
#drumkit {
    color: white;
    background-color: darkcyan;
    text-align: center;
}
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior:smooth;
  }
}
 
@media only screen and (max-width: 600px)
{
    #kick-div > * {
        max-width: 20px;
        max-height: auto;
    }
    #snare-div > * {
        max-width: 20px;
        max-height: auto;
    }
    #chihat-div > * {
        max-width: 20px;
        max-height: auto;
    }
    #ohihat-div > * {
        max-width: 20px;
        max-height: auto;
    }
    .main-div-container > * {
        flex-wrap:wrap;
    }

} 
