#header-div {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:darkgray;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    display: flex;
}
.title-div {
    flex: 1 1 0;
    align-content: flex-end;
    text-align:end;
    justify-content: center;

}
.control-div{
    flex: 1 1 0; 
    color:darkgreen;
}
button {
    background-color:yellowgreen;
    color: white;
    margin: 2px;
}
.main-div {
    display: flex;
    gap: 10px;
    margin: 20px;
    justify-content: space-around;
}

#sample-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 8px;
    color:darkgreen;
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
}
.sequencer-div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 4px;
    border-radius: 10px;

}
#sequencer-div {
   display: flex;
   flex: 1;
   justify-content:center;
   gap: 4px;
   align-items: center;

}
#sequencer-div-two {
    display: flex;
    flex: 1;
    justify-content:space-between;
    gap: 4px;
    align-items: center;
 }
 .sample-controls {
    display:flex;
    flex-direction: row;
    max-width: fit-content;
    margin: 10px;
    gap: 20px;
    padding: 6px;
    color:darkgreen;
    border: 2px solid black;
    border-radius: 10px;
 }
 #velocity-div{
     display:flex;
     flex-direction: column;
     margin-top: 10px;
 }
 #medium {
     background-color: darkkhaki;
 }
 #strong {
    background-color:salmon;
}
.project-div{
    display:flex;
    justify-content: center;
    max-width: fit-content;
    margin: 0px auto;
    padding: 10px;
    border: 2px solid black;
}

